.bg-hero {
  background-color: #1F2937;
}
.title-text {
  font-size: 48px;
  color: white;
}
.marvel-body {
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem;
}
.col {
  width: 50%;
}
.center {
  text-align: center;
}
.info-text {
  font-size: 36px;
  font-weight: 900;
}
.col-grid {
  width: 25%;
}