@import url('https://fonts.googleapis.com');
.bg-hero {
  background-color: #1F2937;
}
.hero-text, .hero-p-text, .cta-text {
  color: white;
}
.hero-text {
  font-size: 48px;
}
.hero-p-text {
  font-size: 18px;
}
.title-text {
  font-size: 48px;
}
.marvel-body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0 10rem;
}
.col {
  width: 50%;
}
.center {
  text-align: center;
}
.info-text {
  font-size: 36px;
  font-weight: 900;
}
.col-grid {
  width: 25%;
  padding: 2rem;
}
.hero-button {
  padding: 5px 15px;
}
.stripe {
  background-color: #e5e7eb;
  font-size: 36px;
  padding: 3rem 5rem;
  font-weight: 300;
}
.stripe-quote {
  text-align: right;
  font-size: 22px;
}
.quote {
  padding: 0 12rem;
}
.cta-section {
  align-items: center;
}
.cta-stripe {
  background-color: #3882f6;
  border-radius: 10px;
  width: 65%;
  display: flex;
  flex-direction: row;
  margin: 3rem 5rem;
  padding: 2rem 5rem;
}
.cta-text-section {
  width: 75%;
}
.cta-text {
  font-size: 23px;
}
.signup {
  padding: 8px 25px;
  background-color: #3882f6;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 7px;
  color: white;
}