.bg-hero {
  background-color: #1F2937;
}
.marvel-body {
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.col {
  width: 50%;
}
.center {
  text-align: center;
}
.info-text {
  font-size: 36px;
  font-weight: 900;
}